.optionsListInner {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-around;

    >div {
        background: #39c;
        color: #fff;
        padding: 20px;
        width: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        cursor: pointer;
    }
}